<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="css/style.css">
  <script>
    (function(){
        function addFont() {
            var style = document.createElement('style');
            style.rel = 'stylesheet';
            document.head.appendChild(style);
            style.textContent = localStorage.fonts;
        }
        try {
            if (localStorage.fonts) {
                addFont();
            } else {
                var request = new XMLHttpRequest();
                request.open('GET', 'css/fonts/fonts.css', true);

                request.onload = function() {
                    if (request.status >= 200 && request.status < 400) {
                        localStorage.fonts = request.responseText;
                        addFont();
                    }
                };
                request.send();
            }
        } catch(ex) {
      }
    }());
  </script>
  {% if site.env == 'production' %}
    <script src="js/cssclasses.min.js" defer></script>
  {% else %}
    <script src="js/cssclasses.js" defer></script>
  {% endif %}
</head>
